swagger: '2.0'
info:
  version: '1.0.0'
  title: Hungry Wolf feed API
  description: Hungry Wolf feed API
  termsOfService: https://www.hungryWolf.com/terms-conditions/
host: api.feed.hungrywolf.com
basePath: /
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  APISecurity:
    type: basic

security:
  - APISecurity: []

paths:
  '/orders/user/{id}':
    get:
      tags:
        - Order
      description: Orders controller
      operationId: getOrdersByUserId
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: user id detail for fetching the orders
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Orders'
            
  '/order/{id}':
    get:
      tags:
        - Order
      description: Orders controller
      operationId: getOrderById
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: id for fetching the order
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Order'
            
  '/order':
    post:
      tags:
        - Order
      description: Orders Controller
      operationId: createOrder
      produces:
        - application/json
      parameters:
        - name: order
          in: header
          description: order object for storing
          required: true
          schema:
            $ref: '#definitions/Order'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Order'
            
  '/order/{id}':
    put:
      tags:
        - Order
      description: Orders Controller
      operationId: updateOrder
      produces:
        - application/json
      parameters:
        - name: order
          in: header
          description: order object for updating
          required: true
          schema:
            $ref: '#definitions/Order'
        - name: id
          in: path
          description: id of an order
          required: true
          type: string
      
  '/order/{orderId}/orderItem/{id}':
    put:
      tags:
        - Order
      description: Orders Controller
      operationId: updateOrder
      produces:
        - application/json
      parameters:
        - name: orderId
          in: path 
          description: orderId to be updated
          required: true
          type: string
        - name: orderItem
          in: header
          description: orderItem to be added
          required: true
          schema:
            $ref: '#definitions/OrderItem
                    
  '/orderItem/{id}':
    put:
      tags:
        - OrderItem
      description: Orders Controller
      operationId: updateOrderItem
      produces:
        - application/json
      parameters:
        - name: orderItemId
          in: path
          description: orderItem id to be updated
          required: true
          type: string
        - name: orderItem
          in: header
          description: orderItem  to be updated
          required: true
          schema:
            $ref: '#definitions/OrderItem      
  
definitions:

  Orders:
      type: object
      properties:
        orderList:
          type: array
          items:
            $ref: '#/definitions/Order'
      
  Order:
      type: object
      properties:
        orderId:
          type: string
        accountId:
          type: string
        tokenSpent:
          type: string
        orderItems:
          type: array
          items:
            $ref: '#/definitions/OrderItem'
     
  OrderItem:
      type: object
      properties:
        orderId:
          type: string
        mealId:
          type: string
        quantity:
          type: integer
        notes:
          type: String
        tokenSpend:
          type: string
        id:
          type: string
          